@model IEnumerable<Juntos.Model.Cupom>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
    
}


<h2>Compras realizadas :</h2>
<table>
    <tr>
        <th>
            Oferta
        </th>
        <th>
            Data Validade
        </th>
        <th>
            Data Utilização
        </th>
        <th>
            Valor Cupom
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Oferta.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataValidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUtilizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUtilizado())
            </td>
           
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Voltar", "../Oferta/ListaDeOfertasAtivasConsumidor")
</div>

