@model IEnumerable<Juntos.Model.Oferta>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "ListaDeOfertasAnunciantePublicadas";
    
}

<h2>Ofertas publicadas :</h2>
<table>
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Condições
        </th>
        <th>
            ValorCupons
        </th>
        <th>
            Data Expiração
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condicoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorCupons)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.DataExpiracao)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "DetalhesAnunciante", new { id = item.Id }) 
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Voltar", "ListaDeOfertasAnunciante")
</div>