@model IEnumerable<Juntos.Model.Consumidor>

@{
    ViewBag.Title = "Index";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table>
    <tr>
        <th>
            Inscrição
        </th>
        <th>
            Nome
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Inscricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.Id }) |
            <!-- @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) | -->
            @Html.ActionLink("Apagar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
